@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: 'Bebas Neue', cursive;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

header {
background-color: #ffffff;
padding: 5%;
display: flex;
justify-content: space-between; 
}

/*bannner sin turno*/
.purple-banner {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 60px;
    color: #ffffff;
    background-color: #3c5f93;
} 

.purple-banner svg {
  margin-right: 10px; /* Ajusta el valor según necesites */
}


.navbar{
  list-style: none;
}

.navbar li{
  display: inline-block;
  padding: 0 20px;

}

.navbar li:hover{
  transform: scale(1.2);
}

.navbar a{
  font-size: 700;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover{
  color: #d31717
}

nav ul {
list-style: none;
display: flex;
}
    
nav li {
margin: 0 20px;
}



}
body {
    font-family:  'Poppins', sans-serif;
    background-color: #ffffff;
}

header {
    background-image: url(/img/adn2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
}

header img:hover{ /*brillito de logo*/
  transition:  all 0.2s ease;
  filter: brightness(130%)

}

h1 p{
    margin-left: 30px;
    margin-bottom: 5%; 
    font-family: poppins;
    font-size: 3rem;
    text-align: center;
    background-color:#ffffff;
    max-width: 3px;
    line-height: 1;
}
header {
  background-color: #ffff; 
  padding: 40px;
}

h1 {
  color: #f0f0f0;
  font-family: 'raleway', sans-serif;
  letter-spacing: 2px;
}

p {
  color: #040404; 
  font-family: 'raleway', sans-serif;
  letter-spacing: 4px;
}
.menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000; 
}


.header.container.navbar ul li{
    position:absolute ;
    float: right;
}

.menu .navbar ul li{
    font-size: 10px;
    padding: 10px;
    color: #ffff;
    display: block;
}

* {
    margin: 0;
    
    
padding: 0;
    box-sizing: border-box;
}


.table-container{ /*Nosotros*/
    margin-bottom: 20px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th{
    background-color: #3c5f99;
    color: white;
    padding: 10px;
    font-size: 24px;
    text-align: center;
  }


main {
    
position: relative; 
}

.image-container {
position: relative;
}

.full-width-image {
    width: 100%;
    
    
height: auto;
}

.overlay-text {
    position: absolute;
    
 
top: 50%; 
    
 
float: left;
    
    
transform: translateY(-50%); 
    color: white; 
    
background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

    
  
border-radius: 5px; 
}

.image-container p{
  color: #f0f0f0;

}

.imagen-texto {
    float: left;
    margin-right: 30px; 
    align-items: center;
}

.container {
    display: flex;
    justify-content: center; 
  }
  
  .imagen-texto {
    text-align: center; 
    margin: 30px; 
  }
  
  .imagen-texto img { 
    max-width: 150px; 
    height: 0% auto;
  }
  
  .imagen-texto p {
    font-family: 'raleway', sans-serif; 
    font-size: 15px; 
    letter-spacing: 0.1px;
    line-height: 2;
    color: #040404;
  }

  .imagen-texto h2{
    font-family: 'raleway', sans-serif; 
    font-size: 20px; 
    letter-spacing: 0.1px;
    line-height: 2;
    color: #040404;
  }



  footer {
    background-color: #3c5f93; 
    padding: 20px 0; 
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0 20px; 
    gap: 5px; 
}

.footer-column {
    flex: 1;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

footer p {
    font-family: 'raleway', sans-serif; 
    color: #040404; 
    letter-spacing: 0.1px;
}
