@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #f0f0f0;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.purple-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #ffffff;
    background-color:  #3c5f99;
}

.purple-banner svg {
    margin-right: 10px;
}

.header.logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
  }


.navbar{
    list-style: none;
  }
  
  .navbar li{
    display: inline-block;
    padding: 0 20px;
  
  }
  
  .navbar li:hover{
    transform: scale(1.2);
  }
  
  .navbar a{
    font-size: 700;
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar a:hover{
    color: #d31717
  }
  
  nav ul {
  list-style: none;
  display: flex;
  }
      
  nav li {
  margin: 0 20px;
  }


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

header{
    background-image: url(/img/adn2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    display: flex;
    align-items: center;

}

header img{
    width: 200px;
}

header img:hover{ /*brillito de logo*/
    transition:  all 0.2s ease;
    filter: brightness(130%)
  
}

h1 p{
    margin-left: 30px;
    margin-bottom: 5%;
    font-size: 3rem;
    font-family: 'Poppins';
    text-align: center;
    background-color: #ffffff;
    max-width: 3px;
    line-height: 1;
}

header {
    background-color: #ffff; 
    padding: 40px;
  }
  
  h1 {
    color: #f0f0f0;
    font-family: 'raleway', sans-serif;
    letter-spacing: 2px;
  }
  
  header p {
    color: #040404; 
    font-family: 'raleway', sans-serif;
    letter-spacing: 5px;
  }
  .menu {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      z-index: 1000; 
  }
  
  
  .header.container.navbar ul li{
      position:absolute ;
      float: right;
  }
  
  .menu .navbar ul li{
      font-size: 10px;
      padding: 10px;
      color: #ffff;
      display: block;
  }




.table-container{ /*Servicios*/
    margin-bottom: 20px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th{ /*servicio*/
    background-color: #3c5f99;
    color: white;
    padding: 10px;
    font-size: 24px;
    text-align: center;
  }


nav ul { /*de hipervinculos y nav*/
    list-style: none;
    display: flex;
    color: #fff;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #040400;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

main h2 {
    color: #ff0606;
}

section {
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



footer {
    background-color: #3c5f93; 
    padding: 20px 0; 
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px; 
    gap: 5px; 
}

.footer-column {
    flex: 1; 
    text-align: center;
    margin: 0; 
    padding: 0; 
}

footer p {
    font-family: 'raleway', sans-serif; 
    color: #040404; 
    letter-spacing: 0.1px;
}
